.info {
  border: 1px solid rgb(235, 234, 234);
  border-radius: 13px;
  padding: 20px 10px;
  width: 95%;
  box-shadow: rgba(194, 194, 194, 0.2) 0px 2px 8px 0px;
  margin: 10px 0;
  &:hover {
    box-shadow: none;
    transform: translate(0, -1px);
  }
}